*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 10px;
}

body{
    height: 100vh;
    font-size: 1.6rem;
    font-family: 'Spartan', sans-serif;
}

.main-ctr{
    padding: 10rem 14rem;
}