* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-image: url("images/bg-pattern-bottom-desktop.svg");
  background-size: cover;
  height: auto;
  font-size: 1.6rem;
  font-family: "Spartan", sans-serif;
  padding: 8rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-ctr{
    width: 100%;
}
.header-ctr {
  margin-right: 0 !important;
  margin-left: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-area {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header-purple h5 {
  width: 300px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: hsl(300, 43%, 22%);
  margin-bottom: 2rem;
}

.header-text {
  font-size: 14px;
  text-align: center;
  color: hsl(303, 10%, 53%);
  margin-bottom: 2rem;
}

.rate-container {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  padding: 2rem 3rem;
  background-color: hsl(300, 24%, 96%);
  font-size: 14px;
  border-radius: 10px;

  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.cards{
    margin-top: 4rem;
}

.stars {
  margin-bottom: 1rem;
}

.card-item {
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  padding: 3rem;
  max-width: 350px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}

.card-ctr{
    margin-bottom: 2rem;
}

.card-headerr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  margin-bottom: 2rem;
}

.card-img {
  display: inline-block;
  width: 40px !important;
}

.card-item img {
  width: 40px;
  border-radius: 50%;
}

.card-text {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.card-fs {
  color: hsl(300, 24%, 96%);
  font-size: 13px;
  margin-bottom: 0;
  font-weight: 500;
}

.card-job {
  color: hsl(300, 24%, 96%);
  font-size: 13px;
  margin-bottom: 0;
  font-weight: 200;
  color: hsl(333, 80%, 67%);
}

.card-second p {
  margin-bottom: 0;
  color: hsl(300, 24%, 96%);
  font-size: 13px;
  font-weight: 300;
}


@media screen and (min-width: 420px) {
   
    .rate-container {
      
    
      width: 350px;
      
    }
  }


@media screen and (min-width: 568px) {
  .header-area {
    width: 500px;
  }

  
}

@media screen and (min-width: 992px) {

    .cards{
        margin-top: 0rem;
    }
    
  body {
    background-image: url("images/bg-pattern-bottom-desktop.svg");
    background-size: cover;
    height: 100vh;
    font-size: 1.6rem;
    font-family: "Spartan", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .second-col {
    padding-left: 50px;
  }
  .header-ctr {
    margin-top: 8rem;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .header-area {
    width: 50%;
  }
  .header-purple h5 {
    font-weight: 700;
    font-size: 36px;
    color: hsl(300, 43%, 22%);
    margin-bottom: 2rem;
    text-align: start;
  }

  .header-text {

    margin-bottom: 0rem;
  text-align: start;
    font-size: 15px;
    color: hsl(303, 10%, 53%);
  }

  .rate-container {

  margin-bottom: 0rem;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    padding: 2rem 3rem;
    background-color: hsl(300, 24%, 96%);
    font-size: 14px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-direction: row;
  }

  .rate-container:nth-child(2) {
    margin-left: 4rem;
  }
  .rate-container:nth-child(3) {
    margin-left: 8rem;
  }

  .stars {
    margin-right: 3rem;
    margin-bottom: 0;
  }

  .card-item {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 3rem;
    max-width: 350px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
  }

  .card-ctr {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-ctr:nth-child(1) {
    align-self: baseline;
  }

  .card-ctr:nth-child(2) {
    align-self: center;
    padding-top: 4rem;
  }

  .card-ctr:nth-child(3) {
    align-self: flex-end;

    padding-top: 8rem;
  }

  .card-headerr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    margin-bottom: 2rem;
  }

  .card-img {
    display: inline-block;
    width: 40px !important;
  }

  .card-item img {
    width: 40px;
    border-radius: 50%;
  }

  .card-text {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
  .card-fs {
    color: hsl(300, 24%, 96%);
    font-size: 13px;
    margin-bottom: 0;
    font-weight: 500;
  }

  .card-job {
    color: hsl(300, 24%, 96%);
    font-size: 13px;
    margin-bottom: 0;
    font-weight: 200;
    color: hsl(333, 80%, 67%);
  }

  .card-second p {
    margin-bottom: 0;
    color: hsl(300, 24%, 96%);
    font-size: 13px;
    font-weight: 300;
  }
}

@media screen and (min-width:1200px) {
    .cards{
        margin-top: 0rem;
    }
    
  body {
    background-image: url("images/bg-pattern-bottom-desktop.svg");
    background-size: cover;
    height: 100vh;
    font-size: 1.6rem;
    font-family: "Spartan", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .second-col {
    padding-left: 100px;
  }
  .header-ctr {
    margin-top: 8rem;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .header-area {
    width: 500px;
  }
  .header-purple h5 {
    font-weight: 700;
    font-size: 36px;
    color: hsl(300, 43%, 22%);
    margin-bottom: 2rem;
    text-align: start;
  }

  .header-text {

    margin-bottom: 0rem;
  text-align: start;
    font-size: 16px;
    color: hsl(303, 10%, 53%);
  }

  .rate-container {

  margin-bottom: 0rem;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    padding: 2rem 3rem;
    background-color: hsl(300, 24%, 96%);
    font-size: 14px;
    border-radius: 10px;
    width: 440px;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-direction: row;
  }

  .rate-container:nth-child(2) {
    margin-left: 4rem;
  }
  .rate-container:nth-child(3) {
    margin-left: 8rem;
  }

  .stars {
    margin-right: 3rem;
    margin-bottom: 0;
  }

  .card-item {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 3rem;
    max-width: 350px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
  }

  .card-ctr {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-ctr:nth-child(1) {
    align-self: baseline;
  }

  .card-ctr:nth-child(2) {
    align-self: center;
    padding-top: 4rem;
  }

  .card-ctr:nth-child(3) {
    align-self: flex-end;

    padding-top: 8rem;
  }

  .card-headerr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    margin-bottom: 2rem;
  }

  .card-img {
    display: inline-block;
    width: 40px !important;
  }

  .card-item img {
    width: 40px;
    border-radius: 50%;
  }

  .card-text {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
  .card-fs {
    color: hsl(300, 24%, 96%);
    font-size: 13px;
    margin-bottom: 0;
    font-weight: 500;
  }

  .card-job {
    color: hsl(300, 24%, 96%);
    font-size: 13px;
    margin-bottom: 0;
    font-weight: 200;
    color: hsl(333, 80%, 67%);
  }

  .card-second p {
    margin-bottom: 0;
    color: hsl(300, 24%, 96%);
    font-size: 13px;
    font-weight: 300;
  }
}
